<div class="container">
  <div class="row">
    <div class="col-sm">
      <img [src]="cerveceria.urlImagenCer" [alt]="cerveceria.nombreCer">
    </div>
    <div class="col-sm">
     <h1>{{ cerveceria.nombreCer }} <small>{{ cerveceria.ubicacionCer }}</small></h1>
     <ul>
       <li>Puntaje Bebida: {{ cerveceria.promBebCer | number : '1.1-1' }}</li>
       <li>Puntaje Comida: {{ cerveceria.promComCer | number : '1.1-1' }}</li>
     </ul>
     <agm-map
       [latitude]="lat"
       [longitude]="lng"
       [zoom]="zoom"
       [disableDefaultUI]="false"
       [zoomControl]="false"
       (mapClick)="mapClicked($event)">

       <agm-marker
           *ngFor="let m of markers; let i = index"
           (markerClick)="clickedMarker(m.label, i)"
           [latitude]="m.lat"
           [longitude]="m.lng"
           [label]="m.label"
           >

           <agm-info-window
           [latitude]="m.lat"
           [longitude]="m.lng">
           <h3>{{m.nombreCer}}</h3>
           <p>{{m.ubicacionCer}}</p>
           </agm-info-window>

       </agm-marker>
     </agm-map>
    </div>
  </div>
  <br/>
  <br/>
  <h2>Comentarios</h2>
  <div id="form-comentario" *ngFor="let comentario of comentarios; let i=index">
    <h4>{{comentario.nombreUsuario}}</h4>
    <p>{{comentario.comentarioUsuario}}</p>
    <p>{{comentario.puntajeBebidaUsuario}}</p>
    <p>{{comentario.puntajeComidaUsuario}}</p>
    <hr/>
  </div>
  <div id="form-comentario">
    <h3>Dejá tu comentario</h3>
    <form method="post" (ngSubmit)="altaComentario()" #formcerveceria="ngForm">
      <div class="form-group">
        <label for="title">Nombre</label>
        <input type="text" class="form-control" id="title" placeholder="Enter cerveceria Title" name="nombreUsuario" [(ngModel)]="cerveceria.nombreUsuario" >
      </div>
      <div class="form-group">
        <label for="title">Comentario</label>
        <input type="text" class="form-control" id="nombre" placeholder="Enter cerveceria Title" name="comentarioUsuario" [(ngModel)]="cerveceria.comentarioUsuario" >
      </div>
      <div class="form-group">
        <label for="poster">Puntaje Bebida</label>
        <input type="text" class="form-control" id="puntajeBebida" placeholder="Valores de 1 a 10" name="puntajeBebidaUsuario" [(ngModel)]="cerveceria.puntajeBebidaUsuario" >
      </div>
      <div class="form-group">
        <label for="country">Puntaje Comida</label>
        <input type="text" class="form-control" id="puntajeComida" placeholder="Valores de 1 a 10" name="puntajeComidaUsuario" [(ngModel)]="cerveceria.puntajeComidaUsuario" >
      </div>
      <div class="form-group row">
        <div class="input-group col-md-8">
          <button type="submit" class="btn btn-primary">Votar</button>
        </div>
      </div>
    </form>

  </div>
  <div class="row regresar">
    <a [routerLink]="['/cervecerias']" class="btn btn-outline-danger btn-block">Regresar</a>
  </div>
</div>
<br/>
<br/>
