<div class="container">
  <div class="row">
    <div class="col-sm">
      <img [src]="cerveceria.urlImagenCer" [alt]="cerveceria.nombreCer">
    </div>
    <div class="col-sm">
     <h1>{{ cerveceria.nombreCer }} <small>{{ cerveceria.ubicacionCer }}</small></h1>
     <ul>
       <li>Puntaje Bebida: {{ promBebCer | number : '1.1-1' }}</li>
       <li>Puntaje Comida: {{ promComCer | number : '1.1-1' }}</li>
     </ul>
     <agm-map
       [latitude]="lat"
       [longitude]="lng"
       [zoom]="zoom"
       [disableDefaultUI]="false"
       [zoomControl]="false"
       (mapClick)="mapClicked($event)">

       <agm-marker
           *ngFor="let m of markers; let i = index"
           (markerClick)="clickedMarker(m.label, i)"
           [latitude]="m.lat"
           [longitude]="m.lng"
           [label]="m.label"
           >

           <agm-info-window
           [latitude]="m.lat"
           [longitude]="m.lng">
           <h3>{{m.nombreCer}}</h3>
           <p>{{m.ubicacionCer}}</p>
           </agm-info-window>

       </agm-marker>
     </agm-map>
    </div>
  </div>
  <br/>
  <br/>
  <h2>Comentarios</h2>
  <div *ngFor="let comentario of comentarios; let i=index">
    <div class="comentario-item">
      <h4>{{comentario.nombreUsuario}}</h4>
      <p><strong>Comentario:</strong> {{comentario.comentarioUsuario}}</p>
      <p>Votó bebida: {{comentario.puntajeBebidaUsuario}} - Votó comida: {{comentario.puntajeComidaUsuario}}</p>
    </div>
  </div>
  <br/>
  <div id="form-comentario">
    <h3>Dejá tu comentario</h3>
    <p>La votación se habilita completando todos los campos</p>
    <form method="post" (ngSubmit)="altaComentario();formcerveceria.reset()" #formcerveceria="ngForm">
      <div class="form-group">
        <label for="title">Nombre</label>
        <input type="text" class="form-control" required minlength="5" maxlength="30" id="title" placeholder="Tu nombre" name="nombreUsuario" [(ngModel)]="cerveceria.nombreUsuario" #nombreUsuario="ngModel" >
        <div *ngIf="nombreUsuario.errors && (nombreUsuario.dirty || nombreUsuario.touched)" class="alert alert-danger">
          <div [hidden]="!nombreUsuario.errors.required">
          Tu nombre es requerido!
        </div>
      </div>
      </div>
      <div class="form-group">
        <label for="title">Comentario</label>
        <input type="text" class="form-control" required minlength="5" maxlength="90"  id="nombre" placeholder="Que te pareció la cervercería?" name="comentarioUsuario" [(ngModel)]="cerveceria.comentarioUsuario" #comentarioUsuario="ngModel" >
        <div *ngIf="comentarioUsuario.errors && (comentarioUsuario.dirty || comentarioUsuario.touched)" class="alert alert-danger">
          <div [hidden]="!comentarioUsuario.errors.required">
            Tu comentario es requerido!
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="poster">Puntaje Bebida</label>
        <input type="text" class="form-control" required id="puntajeBebida" placeholder="Valores de 1 a 10" name="puntajeBebidaUsuario" [(ngModel)]="cerveceria.puntajeBebidaUsuario" #puntajeBebidaUsuario="ngModel" >
        <div *ngIf="puntajeBebidaUsuario.errors && (puntajeBebidaUsuario.dirty || puntajeBebidaUsuario.touched)" class="alert alert-danger">
          <div [hidden]="!puntajeBebidaUsuario.errors.required">
            Tu puntaje de la bebida es requerido!
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="country">Puntaje Comida</label>
        <input type="text" class="form-control" required id="puntajeComida" placeholder="Valores de 1 a 10" name="puntajeComidaUsuario" [(ngModel)]="cerveceria.puntajeComidaUsuario" #puntajeComidaUsuario="ngModel">
        <div *ngIf="puntajeComidaUsuario.errors && (puntajeComidaUsuario.dirty || puntajeComidaUsuario.touched)" class="alert alert-danger">
          <div [hidden]="!puntajeComidaUsuario.errors.required">
            Tu puntaje de la Comida es requerido!
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="input-group col-md-8">
          <button type="submit" class="btn btn-primary" [disabled]="!formcerveceria.form.valid">Votar</button>
        </div>
      </div>
    </form>

  </div>
  <div class="row regresar">
    <a [routerLink]="['/cervecerias']" class="btn btn-outline-danger btn-block">Regresar</a>
  </div>
</div>
<br/>
<br/>
