<div class="container">
  <div class="row">
    <div class="col-sm">
      <img [src]="cerveceria.urlImagenCer" [alt]="cerveceria.nombreCer">
    </div>
    <div class="col-sm">
     <h1>{{ cerveceria.nombreCer }} <small>{{ cerveceria.ubicacionCer }}</small></h1>
     <ul>
       <li>Puntaje Bebida: {{ cerveceria.promBebCer }}</li>
       <li>Puntaje Comida: {{ cerveceria.promComCer }}</li>
     </ul>
     <agm-map
       [latitude]="lat"
       [longitude]="lng"
       [zoom]="zoom"
       [disableDefaultUI]="false"
       [zoomControl]="false"
       (mapClick)="mapClicked($event)">

       <agm-marker
           *ngFor="let m of markers; let i = index"
           (markerClick)="clickedMarker(m.label, i)"
           [latitude]="m.lat"
           [longitude]="m.lng"
           [label]="m.label"
           >

           <agm-info-window
           [latitude]="m.lat"
           [longitude]="m.lng">
           <h3>{{m.nombreCer}}</h3>
           <p>{{m.ubicacionCer}}</p>
           </agm-info-window>

       </agm-marker>
     </agm-map>
    </div>
  </div>
  <div class="row regresar">
    <a [routerLink]="['/cervecerias']" class="btn btn-outline-danger btn-block">Regresar</a>
  </div>
</div>
