<p>
  Posts
</p>

<div id="accordion">
    <div class="card" *ngFor="let post of posts; let i = index">
      <div class="card-header" [attr.id]="'heading' + post.id">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" [attr.data-target]="'#collapse' + post.id" aria-expanded="false" [attr.aria-controls]="'collapse'+post.id">
            {{ post.nombreCer }}
          </button>
        </h5>
      </div>

      <div [attr.id]="'collapse'+post.id" class="collapse" [attr.aria-labelledby]="'heading'+post.id" data-parent="#accordion">
        <div class="card-body">
          {{ post.id }}
        </div>
      </div>
    </div>
</div>
