<br/><br/><br/>
<h1>Cervecerias <small>de Buenos Aires</small></h1>
<hr>


<div class="card-columns">
  <div class="card" *ngFor="let post of cervecerias; let i=index">
    <img class="card-img-top" [src]="post.urlImagenCer" [alt]="post.nombreCer">
    <div class="card-body">
      <h5 class="card-title">{{post.nombreCer}}</h5>
      <p class="card-text">{{post.nombreCer}}</p>
      <p class="card-text"><small class="text-muted">{{post.nombreCer}}</small></p>
      <button type="button" (click)="verCerveceria(post.slug)" class="btn btn-info">Más info</button>
    </div>
  </div>
</div>
