<h1>{{ title }}</h1>
<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">

      <agm-info-window
      [latitude]="m.lat"
      [longitude]="m.lng">
      <h3>{{m.nombreCer}}</h3>
      <p>{{m.ubicacionCer}}</p>
      <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Apurate!</strong> Cierra en 20 minutos.
      </div>
      <button type="button" (click)="verCerveceria(m.slug)" class="btn btn-info">Más info</button>

      </agm-info-window>

  </agm-marker>

  <agm-circle [latitude]="latUserLoc" [longitude]="lngUserLoc"
      [radius]="500"
      [fillColor]="'red'"
      [circleDraggable]="false"
      [editable]="true">
  </agm-circle>

</agm-map>
