<h1>{{ title }}</h1>
<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  [scrollwheel]="false"
  [styles]="styles"
  (mapClick)="mapClicked($event)">

  <agm-marker
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.nombreCer, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">

      <agm-info-window
        [latitude]="m.lat"
        [longitude]="m.lng">
        <!--<img [src]="m.urlImagenCer" [alt]="m.nombreCer">-->
        <h3>{{m.nombreCer}} </h3>
        <p>{{m.ubicacionCer}}</p>
        <p>{{ m.distance | number : '1.1-1'}} Km</p>
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Apurate!</strong> Cierra en 20 minutos.
        </div>
        <button type="button" (click)="verCerveceria(m.slug)" class="btn btn-info">Más info</button>
      </agm-info-window>

  </agm-marker>

  <agm-circle
    *ngFor="let c of circles; let i = index"
    [latitude]="c.latUserLoc" [longitude]="c.lngUserLoc"
      [radius]="c.radioUserLoc"
      [fillColor]="'red'"
      [circleDraggable]="false"
      [editable]="true"
      (radiusChange)="cambiaRadio($event)"
      (centerChange)="cambiaCentro($event)"
      >
  </agm-circle>

</agm-map>

<br/>
<br/>
<h1>Cervecerias <small>de Buenos Aires</small></h1>
<hr>
<div class="card-columns">
  <div class="card" *ngFor="let post of markers; let i=index">
    <img class="card-img-top" [src]="post.urlImagenCer" [alt]="post.nombreCer">
    <div class="card-body">
      <h5 class="card-title">{{post.nombreCer}}</h5>
      <p class="card-text">{{post.ubicacionCer}} ({{ post.distance | number : '1.1-1'}} Km)</p>
      <p class="card-text"><small class="text-muted">Puntaje Comida: {{post.promBebCer}}</small></p>
      <p class="card-text"><small class="text-muted">Puntaje Comida: {{post.promComCer}}</small></p>
      <button type="button" (click)="verCerveceria(post.slug)" class="btn btn-info">Más info</button>
    </div>
  </div>
</div>
